<%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <nav class="navbar">
    <div class="container navbar__container">
      <%= link_to home_path do %>
        <span class="material-symbols-outlined">
          arrow_back_ios
        </span>
      <% end %>
      <h2>REGISTER</h2>
      <%= f.submit "Next" %>
    </div>
  </nav>

  <div class="inputs">
    <div class="field">
      <%= f.text_field :name, autofocus: true, class: "input", placeholder: 'Name' %>
    </div>
    <div class="field">
      <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: 'Email' %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: 'Password confirmation' %>
    </div>
  </div>
  
  <%= render "devise/shared/error_messages", resource: resource %>
<% end %>

<%= render "devise/shared/links" %>
